
.upperContainer {
  height: 67vh;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQH2qogRgQYyi9yej9oMjLGm1RKDKn9tRVfZ67m0zCowAzXL4c5");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-position-x: center;
}
.upperContainerSub{
  color: white;
  margin-left: 5%;
  width: 55%;
  position: relative;
  top: 60%;
}
.upperContainerSub h3 {
  font-size: 20px;
}
.upperContainerSub h1 {
  font-size: 40px;
}

.nav{
  margin-left: 5%;
  width: 55%;
}

.about {
  margin-left: 5%;

}
.about h2 {
  font-size: 23px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about p {
  font-size: 17px;
  margin-bottom: 20px;
  width: 55%;
}

.theBox{
  position: relative;
  float: right;
  top: 55vh;
  margin-right: 5%;
}

.lists{
  font-size: 15px;
  display: flex;
  flex-direction: row;
  margin-top: 7px;
}

.theButton{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

.section2 {
  margin-left: 5%;
  width: 55%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.section2 h3{
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;

}
.section2 ul{
  list-style-type: none;
}
.section2 li::before{
  content: '✓';
  font-weight: bold;
  width: 1em;
  margin-right: 1em;
}
.section2 li{
  font-size: 17px;
  margin-bottom: 10px;
}
.section2 p{
  font-size: 17px;
  margin-bottom: 10px;
}

.info{
  margin-left: 5%;
  margin-top: 60px;
  margin-bottom: 80px;
}
.info h3{
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: bold;
}
.subInfo{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.subInfo p{
  font-size: 17px;
  margin: 2%;
  margin-bottom: 17px;
}

.thedp{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 15px;
}

.slider-container {
  position: relative;
  height: 100%;
}

.slider-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.active-slide {
  display: flex;
}

.inactive-slide {
  display: none; 
}


.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navigation-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
